<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>2009-2011</h4> -->
                                    <h4 class="subheading">Legacy of 2 decades</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We believe that there is ‘unique potential’ in every child; and Kidzee nurtures it. Touted to be one of the best preschools in India, we nurture and shape minds with the help of our best-in-class age appropriate progressive curriculum.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2011</h4> -->
                                    <h4 class="subheading">2000+ centres in 750+ cities</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ndia's most recognized Preschool Franchise, Kidzee, stands as a leader in shaping young minds. With years of expertise in Early Childhood Care and Education, we provide a nurturing environment that fosters holistic development, ensuring every child embarks on a successful journey of learning, growth, and exploration.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>December 2012</h4> -->
                                    <h4 class="subheading">Nurtured 1.4 million+ children</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We encourage, educate, and equip today's children to be tomorrow's leaders. Our learning environment allows each child to nurture the learning minds namely the Focused Mind, Analytical Mind, Inventive Mind, Empathetic Mind, and Conscientious Mind.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>July 2014</h4> -->
                                    <h4 class="subheading">Safe and secured environment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The safety and security of every child are our highest priority. We are committed to providing a nurturing and secure environment where children can explore, learn, and grow with confidence, while parents have peace of mind knowing their child is in safe hands.</p>
                                </div>
                            </div>
                        </li>
                        <li>

                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>